<%= form_for @person, multipart: true, remote: true, authenticity_token: true, html: { style: "display:inline;" } do |f| %>
<div class="modal-body">
 <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@person.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul class="errors">
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
<table class="table table-bordered table-striped">
<tr><td><%= image_tag @person.avatar.url(:thumb) %></td>
<td><%=f.file_field :avatar %></td></tr>
<tr><td><%= f.label :'Name' %></td>
<td><%= f.text_field :'Name' %></td></tr>
<tr><td><%= f.label :'Last name' %></td>
<td><%= f.text_field :'Last_Name' %></td></tr>
<tr><td><%= f.label :'Birth' %></td>
<td><%= f.date_field :'Date_of_birth' %></td></tr>
<tr><td><%= f.label :'Email' %></td>
<td><%= f.email_field :'Email' %></td></tr>
<tr><td><%= f.label :'Skype' %></td>
<td><%= f.text_field :'Skype' %></td></tr>
<tr><td><%= f.label :'Jabber' %></td>
<td><%= f.text_field :'Jabber' %></td></tr>
<tr><td><%= f.label :'Contacts' %></td>
<td><%= f.text_field :'Contacts' %></td></tr>
<tr><td><%= f.label :'Other_contacts' %></td>
<td><%= f.text_field :'Other_contacts' %></td></tr>
<tr><td><%= f.label :'Bio' %></td>
<td><%= f.text_field :'Bio' %></td></tr>
</table>
</div>
</div>
    <div class="modal-footer">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
<% end %>
  </div>
</div>