<div class="modal-dialog">
  <div class="modal-content">
<div class="header">
    <h1><%= @person.Name  %> <%= @person.Last_Name %></h1>
</div>
<%= form_for @person, multipart: true, remote: true, authenticity_token: true, html: { style: "display:inline;" } do |f| %>
<div class="modal-body">
 <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@person.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul class="errors">
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
<table class="table table-bordered table-striped">
<tr><td rowspan="9"><%= image_tag @person.avatar.url(:medium) %></td></tr>
<% @person.attributes.each_with_index do |key,index| %>
<% if index>1 and index<10 %>
<tr><td><%= key[0] %> : <%= key[1] %></td></tr>
<% end %>
<% end %>
</table>
</div>
</div>
    <div class="modal-footer">
        <%= link_to "Close", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
<% end %>
  </div>
