<%= render "base/head" %>
<div class="header">
    <h1><%= @person.Name  %> <%= @person.Last_Name %></h1>
</div>
<table>
<tr><td rowspan="9"><%= image_tag @person.avatar.url(:medium) %></td></tr>
<% @person.attributes.each_with_index do |key,index| %>
<% if index>1 and index<10 %>
<tr><td><%= key[0] %> : <%= key[1] %></td></tr>
<% end %>
<% end %>
<tr><td>
<%= link_to 'Edit', edit_person_path(@person) %> </td><td>
<%= link_to 'Back', people_path %></td></tr>
</table>
<%= render "base/footer" %>